[Desktop Entry]
Type=Application
Name=Web Browser
Comment=Lightweight graphical browser
Exec=/mnt/usb/H3531/APPS/x11-debian/bin/links2 -g
Icon=web-browser
Categories=Network;WebBrowser;
Terminal=false
StartupNotify=false
